@import "../../index.css";
.greenSock_container1 {
  display: flex;
    justify-content: center;
    align-items: center;
     position: relative;
     padding-top: 6rem;
     min-height: 80vh;
     background: linear-gradient(to bottom, $green, white);
     @media (max-width: 480px) {
          max-height: 100vh;
         padding-top: 30rem;
         
    }
     .title1 {
         font-size: 2rem;
         color:  #555;
     }

a {
  color:  #555;
  font-weight: 400;
}

.pSection1 {
  position: relative;
  padding-top: 250px;
  padding-bottom: 300px;
}

.pContainer1 {
  padding: 2rem;
  margin: 0 auto;
  max-width: 80vw;
  position: relative;
  z-index: 1;
}

.pContent1 {
  width: 55%;
  font-size: 1.25rem;
  background-color: rgba(2, 13, 61, 0.8);
   box-shadow: 0 10px 10px -10px $black-3;
  color: white;
  padding: 4rem;
  @media (max-width: 480px) {
          padding: 2.7rem;
         
    }
}

.pImage1 {
    position: absolute;
  height: 50rem;
   max-width: 100%;
   top:0;
     right: 0;
   border-radius: 3%;
   box-shadow: 0 10px 10px -5px $black-3;
    @media (max-width: 480px) {
        height: 40rem;
        width: 100%;
         
    }
}
}