@import "../../index.css";


.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
     position: relative;
     min-height: 100vh;
}
.mainImg {
   height: 50rem;
   max-width: 100%;
   border-radius: 3%;
   box-shadow: 0 10px 10px -5px $black-3;
}

.info_container {
    position: absolute;
    width: auto;
    
}
h2 {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 100%;
    background: linear-gradient(to right, $red, $red2, $red2, $red, $red); 
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    text-transform: uppercase;
    
    .span {
        
        padding: 0.8rem;
        margin-left: 1rem;
        letter-spacing: 5px;
        left: 10px;

    }
}

p {
   position: absolute;
    font-size: 1.7rem;
     top: 80%;
     left: -10%;
    width: 64rem;
    border-radius: 3%;
    background: linear-gradient(to bottom, rgb(243,207,79), white);
    opacity: .7;
   box-shadow: 0 10px 10px -5px $black-3;

    .pspan {
        display: block;
        justify-content: center;
        padding: 2.5rem 2.2rem;
        letter-spacing: 1px;
        color: black;
    }
}
