@import "../../index.css";
.greenSock_container {
  display: flex;
    justify-content: center;
    align-items: center;
     position: relative;
     min-height: 80vh;
     padding-top: 6rem;
     background: linear-gradient(to bottom, $green, white);
     @media (max-width: 480px) {
          max-height: 100vh;
         padding-top: 30rem;
         
    }
      .text {
        font-size: 16px;
      }
     .title {
         font-size: 2rem;
     }

a {
  color: #555;
  font-weight: 400;
}

.pSection {
  position: relative;
  padding-top: 250px;
  padding-bottom: 300px;
}

.pContainer {
  padding: 2rem;
  margin: 0 auto;
  max-width: 80vw;
  position: relative;
  z-index: 1;
}

.pContent {
  width: 55%;
  font-size: 1.25rem;
  background-color: rgba(228,180,65, .8);
   box-shadow: 0 10px 10px -10px $black-3;
  color: white;
  padding: 4rem;
  @media (max-width: 480px) {
          padding: 2.7rem;
         
    }
}

.pImage {
    position: absolute;
  height: 50rem;
   max-width: 100%;
   top:0;
   right: 0;
   border-radius: 3%;
   box-shadow: 0 10px 10px -5px $black-3;
   @media (max-width: 480px) {
        height: 40rem;
        width: 100%;
         
    }
}
}