@import '../../index.css';

#calendly {
  height: 100vh;
       background: linear-gradient(to bottom, $black,  $red);
}
.top2{
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-start;
padding-left: 2rem;
  color: white;
  cursor: pointer;
}
