*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
   font-family: 'Muli', sans-serif;

  @media screen and (min-width: 100em) {
    font-size: 70%;
 
  }
  @media screen and (max-width: 75em) {
    font-size: 56.25%;
 
  }
  @media screen and (max-width: 65.25em) {
    font-size: 52.25%;
 
    @media screen and (max-width: 56.25em) {
      font-size: 50%;
    
    }
    @media screen and (max-width: 37.5em) {
      font-size: 40%;
   
    }
  }
}
body {
  box-sizing: border-box;
}

$red: #f01827;
$red2: #b8141f;
$green: #4c5425;
$black: rgb(20, 19, 19);
$black-2: rgba(185, 178, 178, 0.233);
$black-3: rgba(22, 21, 21, 0.89);
