@import "../../index.css";
.greenSock_container {
  display: flex;
    justify-content: center;
    align-items: center;
     position: relative;
     min-height: 100vh;
     padding-top: 6rem;
     background: linear-gradient(to bottom, $black,  $red);
     @media (max-width: 480px) {
          max-height: 100vh;
         
    }
      .text {
        font-size: 16px;
      }
     .title {
         font-size: 2rem;
  letter-spacing: .1em;

     }

a {
  color: #555;
  font-weight: 400;
}

.pSection {
  position: relative;
  padding-top: 250px;
  padding-bottom: 300px;
  @media (max-width: 480px) {
      padding-bottom: 200px;
         padding-top: 300px;
    }
}

.pContainer {
  padding: 2rem;
  margin: 0 auto;
  max-width: 80vw;
  position: relative;
  z-index: 1;
   @media (max-width: 480px) {
        max-width: 85vw; 
         
    }
}

.pContent {
  width: 55%;
  font-size: 1.25rem;
  background-color: rgba(228,180,65, .8);
   box-shadow: 0 10px 10px -10px $black-3;
  color: white;
  letter-spacing: .1em;
  padding: 4rem;
  @media (max-width: 480px) {
         width: 80%;
         padding: 3rem;
    }
}

.pImage {
    position: absolute;
  height: 55rem;
   max-width: 100%;
   top:0;
   right: 0;
   border-radius: 3%;
   box-shadow: 0 10px 10px -5px $black-3;
   @media (max-width: 480px) {
        height: 37rem;
        width: 100%;
         
    }
}
}
#color_1 {
    background-color: rgba(141, 7, 182, 0.705);
}
#color_2 {
  background-color: rgba(17, 18, 97, 0.788);
}
#color_3 {
  background-color: rgba(148, 11, 130, 0.781);
}
#color_4 {
  background-color: rgba(226, 105, 5, 0.651);
}
